/* * {
    margin: 0;
    padding: 0;
} */
body{
    background-color: rgb(197, 195, 193);
}

.container{
    padding-top:10px;
    margin-top: 20vh;
    border-radius: 8px;
}

.col{
    background-color: rgb(53, 51, 51);
    border-radius: 2px;
    color: white;
}
.col:hover{
    text-shadow: 20px;
    border: 2px solid black;
    transition: transform .1s;
    transform: scale(1.05);
    background-color: grey; 
    color: black;
    font-weight:bold;
}

.operators{
    background-color: #595c5c;
}
.operators:hover{
    background-color: #848888;
}

.border{
    cursor: pointer;
    
}
#equals{
    background-color: #0f70b6;
}
#equals:hover{
    background-color: #0d81d4;
}
#clear{
    background-color: rgb(187, 12, 12);
}
#ac:hover{
    background-color: rgb(255, 0, 0);
}
#display{
    text-align: right;
    color: white;
    font-size: 30px;
    border: 2px solid white;
    border-radius: 5px;
    
}

#input{
    background-color: rgb(0, 0, 0);
    text-align: right;
    border: none;
    font-size: 20px;
}
#output{
    background-color: rgb(0, 0, 0);
    min-height: 6vh;
}

.row{
    border-width: 2px;
    border-color: white;
}


.r{
    border-right-color: #595c5e;
}